.main{
  top: 10px;
  left: 10px;
  border-style:solid;
  border-width: 3px;
  border-color: lightgrey
}

.fps-display{
  text-align: right;
  margin: 0;
  float: right;
  opacity: 0.5;
}
.fps{
  margin: 0;
}